<div class="alert alert-success alert-close" id="alert-event" role="alert">
  <b>The product has been added to the cart</b>
    <a href="/cart" class="btn btn-success float-end">
      <i class="bi bi-cart2"></i>
        Go to cart
    </a>
</div>